.navbar{
    display: flex;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
padding-top: 40px;
}


.navbar-search input{
    height: 50px;
    width: 400px;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    background-color: transparent;
}

.navbar-profile{
    cursor: pointer;
    display: flex;
    gap: 20px;
    font-family: poppins;
}


.navbar-profile img{
    height: 70px;
    width: 70px;
 border-radius: 50px;
 margin-top: 10px;
 
}

